._center {
    text-align: center;
}

._floatright {
    float: right;
}
._floatleft {
    float: left;
}
._clearfix {
    clear: both;
}

._white_text {
    color: #ffffff !important;
}
._white_text a {
    color: #eeeeee !important;
}

._fillpage {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

._unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -o-user-select: none;
    user-select: none;
}

._invisible_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
._invisible_list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
