.app-profile-name {
    font-size: 2.5em;
}
.app-profile-details {
    margin: 0.5em 0 0 0;
}
.app-profile-details > span {
    display: block;
    text-align: right;
}

.app-profile-picture {
    width: 100%;
}

.app-profile-geolocation-map {
    width: 100%;
    border-radius: 8px;
}
